'use strict'

const config = {}

config.fjwt = {
  service: 'o365',
  urlAuthorize: 'https://login.microsoftonline.com/<user_specified>/oauth2/authorize',
  urlToken: 'https://login.microsoftonline.com/<user_specified>/oauth2/token',
  urlJWKS: 'https://login.microsoftonline.com/common/discovery/keys',
  client_id: '<user_specified>',
  client_secret: '<user_specified>',
  redirect_uri: 'https://localhost:8443/callback',
  // the following is optional
  pathSuccessRedirect: '/credentials', // '/' by default
  pathExempt: [
    '/',
    '/login',
    '/callback'
  ], // ['/login', '/callback'] by default
  serviceAttributes: {
    discriminator: 'form',
    authorization: {
      response_type: 'code',
      response_mode: 'query'
    },
    token: {
      grant_type: 'authorization_code',
      resource: '<user_specified>'
    }
  },
  nameTokenAttribute: 'access_token',
  cookie: {
    domain: 'localhost'
  }
}

module.exports = config